<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>91081549853-4n3ep5474ss3jb2boujovmhitci7mor6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.91081549853-4n3ep5474ss3jb2boujovmhitci7mor6</string>
	<key>API_KEY</key>
	<string>AIzaSyCQrAKovLPnrbYmpSm4Nw9Pa49IMPkKX3Q</string>
	<key>GCM_SENDER_ID</key>
	<string>91081549853</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.RendaMerchant</string>
	<key>PROJECT_ID</key>
	<string>renda-merchant</string>
	<key>STORAGE_BUCKET</key>
	<string>renda-merchant.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:91081549853:ios:9c34742ff12e9222947ef4</string>
	<key>DATABASE_URL</key>
	<string>https://renda-merchant.firebaseio.com</string>
</dict>
</plist>